/* Added to fix size of image in logo */
.myLogoStyle{
    max-width:3em;
}

.bgLightGrey{
    background-color: lightgray;
}

.textTeal{
    color: teal;
}

/* Added to fit height of card and curve the radius */
.card-img-top{
width: 100%;
height: 25vh;
object-fit: cover;
border-radius: 10%;
}