body{
    /* background-color: rosybrown; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    color: rgb(187, 36, 19);
}

.outerContainer{
    border:slateblue 2px solid;
    margin:auto;
    width: 60%;
    border-radius: 10px;
    padding: 10px;
}

label{
    color: rgb(187, 36, 19);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    display: block;
    margin-top: 1rem;  
}

.inputBlock{
    width: 70%;
    height: 1.5rem;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
}